// ## Colors

// ### Primary

$Red: hsl(0, 100%, 74%);
$Green: hsl(154, 59%, 51%);

// ### Accent

$Blue: hsl(248, 32%, 49%);

// ### Neutral

$Dark-Blue: hsl(249, 10%, 26%);
$Grayish-Blue: hsl(246, 25%, 77%);

$font-primary: "Poppins", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  background: url(../images/bg-intro-desktop.png), $Red;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: $font-primary;
  color: white;
}
main {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  @media screen and (max-width: 800px) {
    margin-bottom: 10rem;
  }
}
.container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 900px) {
    width: 90%;
  }
  @media screen and (max-width: 800px) {
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
  }
}
.header,
.main {
  width: 50%;
  @media screen and (max-width: 800px) {
    width: 100%;
  }
}
.header {
  margin-block: auto;
  @media screen and (max-width: 800px) {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
  }
  h1 {
    font-size: 5rem;
    line-height: 5.5rem;
    @media screen and (max-width: 800px) {
      max-width: 70%;
      min-width: 350px;
      font-size: 4rem;
      line-height: 4rem;
    }
  }
  p {
    font-size: 1.6rem;
    margin-top: 2rem;
  }
}
.main {
  margin-left: 2rem;
  max-width: 50rem;
  @media screen and (max-width: 900px) {
    margin-left: 0;
  }
  &-header {
    background-color: $Blue;
    text-align: center;
    font-size: 1.6rem;
    padding-block: 1.6rem;
    border-radius: 1.2rem;
    margin-bottom: 2rem;
    box-shadow: 0 0.8rem rgba($color: $Dark-Blue, $alpha: 0.2);
    span {
      font-weight: 600;
    }
  }
  .bg-white {
    background-color: white;
    border-radius: 1.4rem;
    padding: 4rem;
    box-shadow: 0 0.8rem rgba($color: $Dark-Blue, $alpha: 0.2);

    .form {
      display: flex;
      flex-direction: column;
      padding-bottom: 1rem;
      .input-group {
        margin-bottom: 3rem;
        position: relative;
        span {
          display: none;
        }
        input {
          font-size: 1.4rem;
          width: 100%;
          height: 5rem;
          padding-left: 2rem;
          border: 1px solid $Grayish-Blue;
          border-radius: 0.8rem;
          transition: 200ms;
          color: $Dark-Blue;
          font-weight: bold;
          &::placeholder {
            font-weight: 600;
          }
          &:focus {
            outline: none;
            border: 1px solid $Blue;
          }
        }
      }
      button {
        height: 5rem;
        background-color: $Green;
        border-radius: 0.8rem;
        font-family: inherit;
        color: inherit;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 1.6rem;
        border: none;
        cursor: pointer;
        box-shadow: inset 0 -0.5rem rgba($color: black, $alpha: 0.1);
        transition: 200ms;
        position: relative;
        overflow: hidden;
        &:active {
          transform: translateY(0.5rem);
          box-shadow: none;
        }
        &::before {
          content: "";
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.1);
          position: absolute;
          left: 0;
          top: 0;
          transform: scaleY(0);
          transition: 100ms;
          transform-origin: top;
        }
        &:hover::before {
          transform: scale(1);
        }
      }
    }
    p {
      font-size: 1.1rem;
      color: $Grayish-Blue;
      text-align: center;
      font-weight: 500;
      a {
        color: $Red;
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
}

.error {
  &::before {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    background-image: url(../images/icon-error.svg);
    background-position: center;
    background-repeat: no-repeat;
    right: 0;
    margin-right: 1.5rem;
    transform: scale(0.9);
  }
  color: $Red;
  font-weight: 600;
  font-size: 1.1rem;
  font-style: italic;
  text-align: right;
  span {
    display: inline !important;
  }
  input {
    border: 2px solid $Red !important;
    margin-bottom: 0.6rem;
    color: $Red !important;
  }
}
.error span.hidden {
  display: none !important;
}
.attribution {
  margin-top: 4rem;
  font-size: 1.4rem;
  a {
    color: $Blue;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      text-decoration: 2px underline;
    }
  }
}
